/*!
This file is part of chorrent.

    chorrent is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    chorrent is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with chorrent.  If not, see <http://www.gnu.org/licenses/>.
*/
/*
This file is part of chorrent.

    chorrent is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    chorrent is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with chorrent.  If not, see <http://www.gnu.org/licenses/>.
*/
/* line 19, ../sass/addTorrentWnd/_main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  min-width: 357px;
  overflow-x: hidden;
}

/* line 26, ../sass/addTorrentWnd/_main.scss */
button {
  padding: 2px 10px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #f7f7f7 0%, #ededed 100%);
}

/* line 33, ../sass/addTorrentWnd/_main.scss */
#actionBtns {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* line 40, ../sass/addTorrentWnd/_main.scss */
.caption {
  text-decoration: underline;
}

/* line 45, ../sass/addTorrentWnd/_main.scss */
#files {
  border: 1px solid #ddd;
  height: 150px;
  overflow-y: auto;
}
/* line 50, ../sass/addTorrentWnd/_main.scss */
#files .file {
  color: #999;
}
/* line 53, ../sass/addTorrentWnd/_main.scss */
#files .file input {
  vertical-align: middle;
}

/*
This file is part of chorrent.

    chorrent is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    chorrent is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with chorrent.  If not, see <http://www.gnu.org/licenses/>.
*/
/* line 19, ../sass/shared/_main.scss */
#title {
  font-weight: bold;
  font-size: 15px;
}
