<!--
This file is part of chorrent.

    chorrent is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    chorrent is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with chorrent.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html data-ng-app="app">
  <head>
    <title>Chorrent Client 0.0.1</title>
    
    <link href="../css/mainWnd.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="menu" data-ng-controller="menu_ctrl">
      <div id="addTorrent" data-ng-repeat="item in menuItems">{{item.name}}</div>
    </div>
    <div data-ng-controller="dlist_ctrl">
      <span class="caption">Downloads</span>
      <div data-ng-repeat="item in torrents">
        {{item}}
      </div>
    </div>
    
    <script src="../js/bencode.js" type="text/javascript"></script>
    <script src="../js/angular.js" type="text/javascript"></script>
    <script src="../js/TorrentMgr.js" type="text/javascript"></script>
    <script src="../js/mainWnd.js" type="text/javascript"></script>
    <script src="../js/mainWnd/menu.js" type="text/javascript"></script>
  </body>
</html>
